$bgColor: #E3E3E1
$topBar: #FFD400
$titleFontColor: #343d46
$buttonColor: #fcdc35
$buttonFluorescentColor: #fcee39
$buttonFontColor: #111
$buttonGradient: linear-gradient(225.41deg, #FCFD3D 0%, #FCCB31 70.79%, #FDCF27 100%);
$progressBarColor: #fcdc35
$yellowTransparent: rgba(252, 238, 57, 0.2)
$focusColor: #fff
$borderGrey: #545764
$red: #e5411e
$yellow: #FCFD3D
$borderTable: #57535F
$yellowPalim: #D5B70C
$bluePalim: #478DE0
$greenPalim: #044906
$greenText: #8EC202